////////////////////////////////////////////////
// Content
////////////////////////////////////////////////

@height: 18px;

.content {
  background: @contentBack;
}

.professorDashboard { 
  
  select {
    line-height: @height;
  }

  button {
    float: right;
     line-height: @height;
  }
}

.addPlayer {
  display: block;
  float: right;
  height: @height;
  width: 23%;  
}